{
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "entry"
			}
		],
		"@babel/preset-react"
	],
	"plugins": [
		"@babel/plugin-transform-runtime",
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-proposal-export-default-from",
		"@babel/plugin-syntax-dynamic-import",
		"react-hot-loader/babel",
		"@babel/plugin-transform-react-jsx-source"
	]
}
